<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <add name="PROMPT" connectionString="Data Source=SID-PC;Initial Catalog=dbPROMPT;user id=sa;password=sa@2012;MultipleActiveResultSets=True"/>
  </connectionStrings>
</configuration>
